/* Common */
.password-input {
    width: 100%;
    display: flex;
    border-radius: 50px;
    box-shadow: rgba(133, 133, 133, 0.35) 0px 5px 15px;
    border: 1px solid #dee2e6;
}

.password-input:hover {
    box-shadow: #a3b1ff 0px 5px 15px;
}

.password-input:focus-within {
    border: 1px solid #86b7fe;
}

.password-input input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 8px 12px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.password-input button {
    border: none;
    background: none;
    padding: 8px;
}


/* header */
.header {
    width: 100%;
    background-color: var(--header-bg-color);
    position: fixed;
    top: 0;
}

.header .container.header-container {
    column-gap: 20px;
}

.header-logo {
    width: fit-content;
}

.header-logo img {
    width: 320px;
}

.header-action {
    width: 60px;
    text-align: end;
}

.header-action a {
    color: var(--white-text-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.header .header-action .btn-logout {
    background: none;
    border: none;
    outline: none;
    color: var(--white-text-color);
    font-size: 16px;
    font-weight: 600;
}

.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40%;
}

.intro span {
    letter-spacing: 10px;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 38px;
}

.intro img {
    width: 70%;
}


.form.form-signup {
    margin-top: 14%;
    padding: 30px 30px 8px 30px;
}

.form {
    width: 100%;
    padding: 70px 30px 40px 30px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form .form-title {
    font-size: 32px;
    letter-spacing: 6px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.form .form-group {
    margin-bottom: 20px;
}

.form.form-signup .form-group {
    margin-bottom: 12px;
}

.form .form-group .form-control.form-control--custom {
    border-radius: 50px;
    box-shadow: rgba(133, 133, 133, 0.35) 0px 5px 15px;
    font-size: 14px;
    padding: 8px 12px;
}

.form .form-group .form-control.form-control--custom:hover {
    box-shadow: #a3b1ff 0px 5px 15px;
}

/* home page */
.home-intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-intro span {
    letter-spacing: 10px;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 38px;
}


.home-intro a {
    width: 100%;
}

.home-intro img {
    width: 70%;
    margin: 0 auto;
}

/* category-container */
.category-container {
    position: relative;
}

.category-container:hover .categories {
    display: block;
}

.category-container::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20px;
    /* Độ dày của cây cầu */
    z-index: 9;
    /* Đặt dưới danh sách để không che nội dung */
}

.category-btn {
    background-color: #d9d9d92d;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.category-btn:hover {
    cursor: pointer;
    background-color: #d9d9d967;
}

.category-btn:active {
    cursor: pointer;
    background-color: #d9d9d9a4;
}

.category-btn .category-btn-img {
    margin: 8px;
}

.category-btn .category-btn-title {
    margin: 0;
    margin-right: 8px;
    color: var(--white-text-color);
    font-weight: 600;
}

.categories {
    display: none;
    position: absolute;
    width: max-content;
    list-style-type: none;
    background-color: var(--white-text-color);
    padding-left: 0;
    margin-bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 6px;
    margin-top: 20px;
}

.category {
    padding: 6px 10px;
}

.category:last-child {
    padding-bottom: 6px;
}

.category:hover {
    background-color: #d9d9d967;
    cursor: pointer;
}



/* search */
.search {
    display: flex;
    flex: 1;
    border-radius: 50px;
    overflow: hidden;
}

.search:focus-within {
    border: 3px solid #86b7fe;
}

.search input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    padding: 4px 10px;
    background-color: #fff;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.search button {
    border: none;
    outline: none;
    background-color: #fff;
    padding: 4px 10px;
}

.search button img {
    width: 14px;
}

/* 
/* notification */
.notification {
    min-width: 200px;
    display: flex;
    padding: 10px;
    column-gap: 10px;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: var(--high-light-box-shadow-color) 0px 5px 15px;
}

.notification:hover {
    cursor: pointer;
    box-shadow: var(--high-light-box-shadow-color-hover) 0px 5px 15px;
}

.notification .noti-status-icon img {
    width: 40px;
}

.notification .noti-message {
    display: flex;
    align-items: center;
    flex: 1;
}

.notification .notification-action {
    border: none;
    outline: none;
    background: none;
}

.notification .notification-action img {
    width: 20px;
}

/* Cart Component */
.cart-container {
    position: relative;
    cursor: pointer;
}

.cart-container:hover .carts {
    display: flex;
    z-index: 999;
}

.cart-container::after {
    content: "";
    position: absolute;
    width: 45px;
    height: 40px;
}

.cart-preview {}

.cart-icon {}

.total-item {
    position: absolute;
    color: var(--white-text-color);
    top: -12px;
    right: -12px;
    padding: 2px 6px;
    background-color: var(--high-light-color);
    margin-bottom: 0;
    border-radius: 50px;
    font-size: 12px;
}

.cart-container:hover .total-item {
    background-color: var(--high-light-box-shadow-color);
}

.carts {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: var(--white-text-color);
    width: max-content;
    padding: 10px 10px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cart-wrapper {
    max-height: 300px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-radius: 4px;
}

.cart-wrapper::-webkit-scrollbar {
    display: none;
}

.cart-item {
    display: flex;
    padding: 2px;
    cursor: auto;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cart-item:hover {
    background-color: #ccc;
}

.cart-img {
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin: 4px 10px;
    border-radius: 4px;
}

.cart-img img {
    width: 100%;
}

.cart-item-content {}

.cart-item-content .item-name {
    font-size: 18px;
    font-weight: 600;
}

.cart-item-content .item-price {
    font-size: 14px;
}

.cart-item-action {
    width: 30px;
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.cart-item-action button {
    width: 100%;
    border: none;
    outline: none;
    background: none;

}

.cart-item-action img {
    width: 100%;
}


.view-cart-detail {
    border: none;
    outline: none;
    background: none;
    padding: 10px 0;
    margin-top: 10px;
}

.view-cart-detail:hover {
    color: var(--high-light-color);
}